body {
	font-size: 18px;
	line-height: 1.625;
	color: #ffffff;
	font-family: "poppins";
	background-color: #181818;
}
.logo {
	font-family: monospace;
	font-size: 36px;
	color: #00ff41;
	font-weight: lighter;
}
nav {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
main {
	text-align: center;
	align-items: center;
	margin: 10px;
	flex: 1;
}

.mainpage {
	margin: 0 auto;
	padding: 60px;
}
table,
td,
th {
	margin: 0 auto;
	padding: 60px;
}
#czas {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 3px solid black;
	width: 120px;
	text-align: center;
}
h1 {
	margin-bottom: 0;
}
h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

.albumy {
	width: 300px;
}
footer {
	clear: both;
	padding: 10px;
	text-align: right;
	position: relative;
	flex-direction: column;
	align-items: right;
}
/* Przycisk powrotu: */
.back {
	background-color: #181818;
	color: #00ff41;
	padding: 16px;
	font-size: 16px;
	border: none;
	font-family: monospace;
}
.div-powrot {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
}
.div-powrot:hover .back {
	background-color: #302c2c;
}
