body,
html {
	color: white;
	background-color: #222222;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	padding: 10px 10px 10px 10px;
	line-height: 30px;
}
