body {
	background-color: #000;
	color: #0f0;
	font-family: monospace;
	font-size: 20px;
	padding: 20px;
}

#terminal {
	max-width: 800px;
}
#output {
	white-space: pre-line;
}

#prompt {
	display: flex;
	align-items: center;
}

#command {
	background: none;
	border: none;
	color: #0f0;
	font-family: monospace;
	font-size: 1em;
	outline: none;
	flex: 1;
}
